html,
body {
  margin: 0;
  height: 100%;
}

body {
  text-align: center;
  background-color: #ffee7d;
  background-image: url("black-paper.png");
  font-family: monospace;
}

div {
  background-color: rgba(223, 164, 0, 0.5);
  display: block;
  width: 600px;
  margin: 20px auto;
  border-radius: 15px;
  border-style: solid;
  box-shadow: 5px 5px black;
  overflow-x:auto;
}

form {
  margin: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 45px;
}

input {
  border-radius: 5px;
  margin: inherit;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 2px;
  display: inline-block;
  width: auto;
}

label {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
	display: inline-block;
	width: 20%;
}

button {
  padding: 13px;
  font-size: inherit;
  background-color: chocolate;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 2px 2px black;
  margin: inherit;
}

button:hover {
  background-color: rgb(138, 73, 27);
  transition-duration: 5ms;
  box-shadow: 0px 0px;
}

a {
  font-size: 20px;
  color: white;
}

a:hover {
  color:black;
}

#users {
  width: inherit;
}

table {
  width: inherit;
}

th {
  font-size: 18px;
}

tr {
  border-bottom-style: solid;
}

tr:hover {
  background-color: white;
}
